docs/examples/DBeaver/.data-sources.json.bak
docs/examples/DBeaver/.dbeaver/.credentials-config.json.bak
docs/examples/DBeaver/.dbeaver/.credentials-config.json
docs/examples/DBeaver/.dbeaver/.data-sources.json.bak